
:root {
  --tile-shadow : 0.5px 0.5px 1.6px rgba(0, 0, 0, 0.046),
                  1px 0.9px 3.8px rgba(0, 0, 0, 0.066),
                  1.6px 1.5px 6.8px rgba(0, 0, 0, 0.079),
                  2.8px 2.7px 11.2px rgba(0, 0, 0, 0.089),
                  6.1px 5.7px 18.5px rgba(0, 0, 0, 0.097),
                  17.5px 16.6px 32.4px rgba(0, 0, 0, 0.104),
                  88px 83px 70px rgba(0, 0, 0, 0.11);
}

html,
body,
#__next {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  height: 100%;
  background: #1b1b1b;
}

#__next {
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  all: unset;
  border: none;
  text-align: center;
}

button:hover {
  cursor: pointer;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-size: 1.5rem;
}

input {
  border: none;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(192, 192, 192);
  opacity: 0.8; /* Firefox */
}

input:disabled {
  cursor: not-allowed;
}


@keyframes glowing {
  0% {
    filter:drop-shadow(0 0 2px rgb(203, 245, 229))
          drop-shadow(0 0 10px rgb(99, 212, 171))
          drop-shadow(0 0 45px rgba(66,221,164,1));
  }
  100% {
    filter:drop-shadow(0 0 5px rgb(212, 245, 232))
          drop-shadow(0 0 20px rgb(114, 214, 177))
          drop-shadow(0 0 60px rgb(69, 214, 161));
  }
}

.logoSvg {
  color: #d4f8ed;
  will-change: auto;
  filter:drop-shadow(0 0 2px rgb(203, 245, 229))
          drop-shadow(0 0 10px rgb(99, 212, 171))
          drop-shadow(0 0 45px rgba(66,221,164,1));
  width: 7rem;
  height: 7rem;
}

@media only screen and (min-width: 600px) {
  .logoSvg {
    animation: glowing linear 2s infinite alternate; 
  }
}

@media screen and (prefers-reduced-motion: reduce) { 
  .logoSvg {
    animation: unset;
  }
}



.primaryTextGradient {
  background: linear-gradient(45deg, rgba(66,221,164,1) 0%, rgba(12,109,196,1) 150%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contentContainer {
  width: 100%;
  max-width: 1240px;
  display: flex;
  padding: 0 clamp(1rem, 3vw, 2rem);
  padding-top: clamp(1rem, 3vw, 2rem);
}

/* COMPONENTS */
.btn {
  padding: 0.65em 1.25em;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 200 ease;
}

.btn:disabled{
  cursor: not-allowed;
  opacity: 0.4;
}

.btnPrimary {
  background: #42dda4;
  /* background: rgb(66,221,164); */
  background: linear-gradient(45deg, rgba(66,221,164,1) 0%, rgba(12,109,196,1) 150%);
  color: #f5fffc;
  font-weight: bold;
}

.btnSecondary {
  background: none;
  color: white;
  font-weight: bold;
  border: double 1px transparent;
  background-image: linear-gradient(#202221, #202221), 
                    linear-gradient(45deg, rgba(66,221,164,1) 0%, rgba(12,109,196,1) 150%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.btnSecondary:hover{
  background-image: linear-gradient(45deg, rgba(66,221,164,1) 0%, rgba(12,109,196,1) 150%);
  background-clip: unset;
}

.btnRounded {
  border-radius: 1000px;
}

.btnSmall {
  font-size: 0.9rem;
  padding: 0.5em 1em;
}

.btnAutoTip {
  background: none;
  color: white;
  font-weight: bold;
  border: double 1px transparent;
  border-radius: 30px;
  background-image: linear-gradient(#202221, #202221), 
                    linear-gradient(45deg, rgba(66,221,164,1) 0%, rgba(12,109,196,1) 150%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.btnAutoTip:hover{
  background-image: linear-gradient(45deg, rgba(66,221,164,1) 0%, rgba(12,109,196,1) 150%);
  background-clip: unset;
}

.buttonGroup {
  display: flex;
  gap: 0.5rem;
}

.tipChainSelect {
  background: #202221;
  border: none;
  color: white;
  font-size: 1.2rem;
}

.tipChainSelect:hover {
  cursor: pointer;
}

.tipManualInput {
  font-size: 0.9rem;
  padding: 0.5em 1em;
  width: 5rem;
  background: none;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
}

.sendTipGroupSeparator {
  padding-right: 0.25rem;
  /* border-right: 1px solid #ff5299; */
}

.logo h1 {
  font-size: 2rem;
  background: linear-gradient(71deg, rgba(66,221,164,1) 0%, rgba(12,109,196,1) 200%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
}
.addressInputFieldRow {
  margin-bottom: 1rem;
  white-space: nowrap;
  width: 100%;
  display: flex;
  padding: 0 1.2rem;
  justify-content: center;
}


.addressInputFieldRow:last-of-type {
  margin-bottom: 0;
}

.addressInputFieldLabel{
  font-size: 0.75rem;
  margin-left: 1.2rem;
  color: #93b9ab;
  font-weight: bold;
}

.addressInputFieldError {
  font-size: 0.8rem;
  color: red;
  margin-left: 1.2rem;
  margin-top: 0.25rem;
}

.addressInputFieldMain {
  display: flex;
  align-items: center;
}

.addresses-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.addressTextInput {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  flex: 1;
  width: 37vw;
  max-width: 31.5rem;
  min-width: 20rem;
  border-radius: 1000px;
  outline: 1px solid #c5c5c5;
  background: none;
  color: white;
}

.addressTextInput:focus {
  outline: 2px solid white;
}

.addressTextInput:disabled {  
  outline: 1px solid #93b9ab;
  color: #93b9ab;
}

.addressTextInput::-webkit-input-placeholder {
  font-size: clamp(0.85rem, 1.5vw, 1.15rem);
}

@media only screen and (min-width: 500px) {
  .addressInputFieldWrapper {
      margin-left: 2rem;
  }

  .buttonGroup {
    margin-left: 1.25rem;
  }
}

.crudButton {
  border-radius: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border: 2px solid white;
  color: white;
  opacity: 0.6;
  background: none;
  transition: all 0.1s ease;
}

.crudButton:hover {
  opacity: 1;
}

.addressRemoveButton {
  margin-left: 0.5rem;
}

.addressAddButton {
  align-self: center;
  margin-top: 0.75rem;
  
}

.tipJarWrapper {
  margin-bottom: 2rem;
  text-align: center;
}

.tipJarLabel {
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: bold;
}

.tipJarContent {
  display: flex;
  margin-top: 0.5rem;
}

.tipSwap {
  color: white;
  opacity: 0.8;
  transition: opacity 100 ease;
  font-size: 1.2rem;
  margin-left: 0.25rem;
}

.tipSwap:hover{
  cursor: pointer;
  opacity: 1;
}

/* PAGES */
.pageContainer {
  width: 100%;
  height: min-content;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1b1b1b;
  color: white;
}

.pageContainer.isFirstPage {
  background: radial-gradient(circle at top, rgb(46, 58, 54) 0%, rgba(27,27,27,1) 90%);
}

/* search page */
.searchPageTopBar{
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.searchPageLogoArea{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.searchPageMainArea{
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.dashboardTopBar{
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.dashboardMain {
  width: 100%;
  padding-bottom: 2rem;
}

.dashboardMain h1 {
  font-size: 1.65rem;
  margin-top: 2rem;
  margin-bottom: 0.75rem;
}

.topLevelInfoGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  grid-gap: 1em;
}

.overviewTile {
  padding: 1rem;
  border-radius: 0.7rem;
}

.overviewTileLabel {
  opacity: 0.7;
  font-size: 0.85rem;
}

.overviewTileDisplayValue {
  font-weight: 700;
  font-size: 1.45rem;
}

.chartWrapper {
  border-radius: 0.5rem;
  overflow: hidden;
}

.viewCurrencySelect {
  background-color: #1b1b1b;
  border: 1px solid white;
  color: white;
  font-size: 1.2rem;
  padding: 0 0.5rem;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.chainFiltersWrapper {
  margin-bottom: 2rem;
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
}

.chainFilterTile {
  color: white;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
}

.chainFilterTile:disabled {
  opacity: 0.2;
}

.chainFilterTile::after {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 1px;
  color: transparent;
  overflow: hidden;
  visibility: hidden;
}

.chainFilterTile:hover {
  cursor: pointer;
}

.chainFilterTile.isSelected {
  background: #42dda4;
  background: linear-gradient(45deg, rgba(66,221,164,1) 0%, rgba(12,109,196,1) 150%);
  font-weight: bold;
}

.tilePrimary {
  background: #272727;
  box-shadow: var(--tile-shadow)
}


.walletOverviewSection {
  margin-bottom: 2rem;
}

.walletOverviewName {
  font-size:  0.9rem;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 0.25rem;
}

.walletOverviewWrapper {
  border-radius: 0.2rem;
  box-shadow: var(--tile-shadow);
  padding: 1.25rem;
  display: flex;
}

.walletOverviewSummaryGrid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-gap: 1em;
}

.walletSummaryItemTitle {
  font-size: 0.9rem;
  opacity: 0.7;
}

.walletSummaryitemValue {
  font-size: 1.5rem;
  font-weight: bold;
}